app/src/main/assets/dictionary.dtd

<?xml version="1.0" encoding="UTF-8"?>



<!-- DTD Fragment for Citations		-->

<!ENTITY % Cites SYSTEM 'cites.ent'> %Cites; 

<!-- Labels -->
<!ENTITY % Labels	"provLabel | regLabel | subjLabel" >
<!-- typographic tags -->
<!ENTITY % typog	"i | b | bi | sc | in | ini | su | sui | u | fr | r | render" >
<!-- status attribute -->
<!ENTITY % status "status (Active | Suppressed | Deleted) 'Active'">
<!-- url attribute (uid / link target) -->
<!ENTITY % url 'url CDATA "0"'>
<!-- refurl attribute (link pointer) -->
<!ENTITY % refurl 'refurl CDATA "0"'>
<!-- matchString contains word without syllabic marks, for searching -->
<!ENTITY % matchString 'matchString CDATA #IMPLIED'>

<!-- ========== Call special character entities ========== -->
<!ENTITY % OUPSpecChars SYSTEM 'oup-character-entities.ent'> %OUPSpecChars;




<!ELEMENT MS (#PCDATA | meta | pronGrp | gramGrp | infGrp | formGrp | 
varGrp | exGrp | ex | xrefGrp | pr | provLabel | regLabel | subjLabel | 
def | date | techGrp | etym | render | i | b | bi | sc | in | ini | su | 
sui | u | fr)*>

<!ATTLIST MS

	core (yes|no) "no"

	url NMTOKEN "0"

>

<!--Name. Usually renders: italic.-->

<!ELEMENT Name (#PCDATA)>

<!--Alternate (variant) Name. Usually renders: bold.-->

<!ELEMENT altName (#PCDATA | i)*>

<!--Global declaration for annotation element-->

<!ELEMENT annotation (#PCDATA)>

<!--bold font shift-->

<!ELEMENT b (#PCDATA)>

<!--bold italic font shift-->

<!ELEMENT bi (#PCDATA)>

<!--Biographical Label. Usually renders: Hidden.-->

<!ELEMENT bioMarker (#PCDATA)>

<!--(Cited) Work. Usually renders: according to highlight attribute 
value. true=bold; false=roman.-->

<!ELEMENT cite (#PCDATA | fr | su)*>

<!--highlight: highlight attribute allows emphasis of elements such as 
biographical lemmas and cited works to be toggled on or off.-->

<!ATTLIST cite

	highlight CDATA #IMPLIED

>

<!ELEMENT com (#PCDATA | i)*>

<!--Date. Usually renders: roman.-->

<!ELEMENT date (#PCDATA | lang | sc | i)*>

<!--Definition.-->

<!ELEMENT def (#PCDATA | cite | provLabel | regLabel | subjLabel | l | 
lp | txn | txnBin | txnFam | txnGenus | date | Name | altName | pr | 
xrefGrp | formGrp | varGrp | exGrp | pronGrp | ex | render | i | b | bi 
| sc | in | ini | su | sui | u | fr)*>

<!ATTLIST def

	url NMTOKEN "0"

>

<!--Root element, dictionary-->

<!ELEMENT dictionary (alpha+)>

<!ATTLIST dictionary

	title CDATA #IMPLIED

	xml:space (default|preserve) "preserve"

>



<!--fraction denominator-->

<!ELEMENT dn (#PCDATA | i)*>

<!--Derivative Block. Usually renders: block, generates literal 
preceding.-->

<!ELEMENT drvBlock (sub+)>

<!--Encyclopedic Block. Usually renders: rule above and below.-->

<!ELEMENT encBlock (#PCDATA | l | cite | gramGrp | infGrp | formGrp | 
varGrp | exGrp | xrefGrp | pr | lp | date | etym | txn | txnBin | txnFam 
| txnGenus | render | i | b | bi | sc | in | ini | su | sui | u | fr)*>

<!--Encyclopedic Category. Usually renders: Hidden.-->

<!ELEMENT encCategory (#PCDATA)>

<!--Etymology. Usually renders: generate surrounding "[ORIGIN:" "]". -->

<!ELEMENT etym (#PCDATA | quote | date | ff | trans | hwtrans | lang | 
cite | gramGrp | infGrp | formGrp | varGrp | exGrp | xrefGrp | pr | Name 
| txnBin | render | i | b | bi | sc | in | ini | su | sui | u | fr)*>

<!--Etymology Block. Usually renders: generate literal (usu. 'origin') 
preceding. -->

<!ELEMENT etymBlock (#PCDATA | meta | quote | date | ff | trans | 
hwtrans | lang | cite | gramGrp | infGrp | formGrp | varGrp | exGrp | 
xrefGrp | pr | Name | txnBin | render | i | b | bi | sc | in | ini | su 
| sui | u | fr)*>

<!--Example. Usually renders: italic; vertical bar connects sequential 
examples.-->

<!ELEMENT ex (#PCDATA | render | i | b | bi | sc | in | ini | su | sui | 
u | fr | r)*>

<!ATTLIST ex

	url NMTOKEN "0"

>

<!--Example Group.-->

<!ELEMENT exGrp (#PCDATA | ex | gramGrp | formGrp | varGrp | subjLabel | 
provLabel | regLabel | render | i | b | bi | sc | in | ini | su | sui | 
u | fr)*>

<!--Form. Usually renders: bold.-->

<!ELEMENT f (#PCDATA | i | u | su | varGrp)*>

<!ATTLIST f
	
	%matchString;

>

<!--Foreign Form. Usually renders: bold; italic within Etymologies.-->

<!ELEMENT ff (#PCDATA | u | i | sc)*>

<!--Foreign Headword, may be renamed (substitution[Group]) in other 
schema. Usually renders: bold italic.-->

<!ELEMENT fhw (#PCDATA)>

<!--Foreign Inflection. Usually renders: bold italic.-->

<!ELEMENT finf (#PCDATA)>

<!--Foreign Lemma. Usually renders: bold.-->

<!ELEMENT fl (#PCDATA)>

<!--Form Group. Usually renders: generates surrounding parens-->

<!ELEMENT formGrp (#PCDATA | f | provLabel | regLabel | pronGrp | varGrp 
| syntax | render | i | b | bi | sc | in | ini | su | sui | u | fr)*>

<!--fraction-->

<!ELEMENT fr (nu, dn)>

<!--Geographic Label. Usually renders: Hidden.-->

<!ELEMENT geoLabel (#PCDATA)>

<!--Geographic Marker. Usually renders: Hidden.-->

<!ELEMENT geoMarker (#PCDATA)>

<!--Grammar Group. Usually renders: roman, generates surrounding square 
braces-->

<!ELEMENT gramGrp (#PCDATA | f | gramInfo | syntax | render | i | b | bi 
| sc | in | ini | su | sui | u | fr)*>

<!--Grammatical Information. Usually renders: roman, generates 
surrounding square braces.-->

<!ELEMENT gramInfo (#PCDATA)>

<!--Homograph Number. Usually renders: superior.-->

<!ELEMENT hm (#PCDATA)>

<!--Headword, may be renamed (substitution[Group]) in other schema. 
Usually renders: bold.-->

<!ELEMENT hw (#PCDATA | r | in)*>

<!ATTLIST hw

	unit CDATA #IMPLIED
	
	%matchString;

>

<!--Headword Group. Contains headword and related information: 
pronunciation(s), labels, variants, etc.-->

<!ELEMENT hwGrp ((hw | fhw), hm?, (pronGrp | varGrp | gramGrp | infGrp | 
formGrp | xrefGrp | provLabel | regLabel | subjLabel | ps)*)>

<!--Headword Translation. Usually renders: roman, generate surrounding 
single quotes.-->

<!ELEMENT hwtrans (#PCDATA)>

<!--italic font shift-->

<!ELEMENT i (#PCDATA)>

<!-- roman font shift-->

<!ELEMENT r (#PCDATA)>

<!--inferior font shift-->

<!ELEMENT in (#PCDATA | i)*>

<!--Inflection. Usually renders: bold.-->

<!ELEMENT inf (#PCDATA)>

<!ATTLIST inf
	
	%matchString;

>

<!--Inflection Group. Usually renders: generates surrounding parens-->

<!ELEMENT infGrp (#PCDATA | inf | syntax | subjLabel | pronGrp | 
provLabel | regLabel | f | render | i | b | bi | sc | in | ini | su | 
sui | u | fr)*>

<!--inferior italic font shift-->

<!ELEMENT ini (#PCDATA)>

<!--Lemma. Usually renders: bold.-->

<!ELEMENT l (#PCDATA | varGrp | r | i | in)*>

<!ATTLIST l
	
	%matchString;

>

<!--Language. Usually renders: roman.-->

<!ELEMENT lang (#PCDATA)>

<!--Biographical Lemma. Usually renders: according to highlight 
attribute value. true=bold; false=roman.-->

<!ELEMENT lp (#PCDATA)>

<!--highlight: highlight attribute allows emphasis of elements such as 
biographical lemmas and cited works to be toggled on or off.-->

<!ATTLIST lp

	highlight CDATA #IMPLIED

>

<!--Meta. This element contains non-printing data such as comments, 
regional labels, typographic labels, bio and geo labels, etc. Goes at 
beginning of entry, sense, or block it applies to.-->

<!ELEMENT meta (annotation*, specSubj*, bioMarker*, geoMarker*, 
geoLabel*, encCategory*, typGroup*, supg*, csg*)>

<!-- superordinate group element from NODE -->

<!ELEMENT supg (sup+)>

<!-- superordinate element from NODE -->

<!ELEMENT sup (#PCDATA)>

<!-- core sense group from NODE -->

<!ELEMENT csg (#PCDATA)>

<!--fraction numerator-->

<!ELEMENT nu (#PCDATA | i)*>

<!--Paragraph.-->

<!ELEMENT para (#PCDATA | exGrp | ex | xrefGrp | pronGrp | txnGenus | 
render | i | b | bi | sc | in | ini | su | sui | u | fr)*>

<!--Phrase Block. Usually renders: block, generates literal 
preceding.-->

<!ELEMENT phrBlock (sub+)>

<!--Pronunciation. Type attribute distinguishes US, UK, IPA, etc. 
Usually renders: roman, IPA font for those types.-->

<!ELEMENT pr (#PCDATA | sc | i | u)*>

<!ATTLIST pr

	type (US | US_IPA | UK_IPA | IPA) #IMPLIED

	url NMTOKEN "0"

>

<!--Prelim. Text which applies to all senses within a sense block.-->

<!ELEMENT prelim (#PCDATA | ps | infGrp | xrefGrp | com | regLabel | 
subjLabel | gramGrp | formGrp | pronGrp | provLabel | varGrp)*>

<!--Pronunciation Group. Usually renders: generates surrounding "/" or 
"|". Contains various pronunciations.-->

<!ELEMENT pronGrp (#PCDATA | pr)*>

<!--Provenance Label. Usually renders: roman condensed.-->

<!ELEMENT provLabel (#PCDATA | r)*>

<!--Part of Speech. Usually renders: sans-serif, narrow.-->

<!ELEMENT ps (#PCDATA)>

<!--Phrasal Verb Block. Usually renders: block, generates literal 
preceding.-->

<!ELEMENT pvBlock (sub+)>

<!--Quote. Usually renders: generate surrounding single quotes.-->

<!ELEMENT quote (#PCDATA)>

<!--Regional Label. Usually renders: sans-seri narrow; hidden within 
&lt;meta&gt;.-->

<!ELEMENT regLabel (#PCDATA | r)*>

<!--Render. Special character formatting element. Usually renders: 
according to attribute.-->

<!ELEMENT render (#PCDATA)>

<!ATTLIST render	as	(italic|bold|bolditalic|smallcaps|roman|superior|inferior|sans-serif) "italic">

<!--small caps font shift-->

<!ELEMENT sc (#PCDATA | b)*>

<!--Sense. Usually renders: unnumbered if only one in entry, numbered 
otherwise. First sense runs in and generates preceding bullet.-->

<!ELEMENT sense (#PCDATA | pronGrp | meta | ps | gramGrp | infGrp | 
formGrp | varGrp | exGrp | xrefGrp | pr | provLabel | regLabel | 
subjLabel | txnGenus | MS | def | techGrp | l | ex | com | specUse | 
etym | subsense | render | i | b | bi | sc | in | ini | su | sui | u | 
fr | encBlock | QuotPara)*>

<!ATTLIST sense

	url NMTOKEN "0"

	status (Active | Suppressed | Deleted) 'Active'

>



<!--Sense Block. Contains sense(s).-->

<!ELEMENT senseBlock (meta?, prelim?, sense+)>

<!ATTLIST senseBlock

	url NMTOKEN "0"

>

<!ELEMENT sn (#PCDATA)>

<!--Specialist Subject. Usually renders: Hidden.-->

<!ELEMENT specSubj (#PCDATA)>

<!ELEMENT specUse (#PCDATA | MS | xrefGrp | ex | render | i | b | bi | 
sc | in | ini | su | sui | u | fr)*>

<!--superior font shift-->

<!ELEMENT su (#PCDATA | i)*>

<!--Sub Entry. Usually renders: new line.-->

<!ELEMENT sub (#PCDATA | meta |  l  | ps | gramGrp | pronGrp | infGrp | 
formGrp | varGrp | exGrp | xrefGrp | provLabel | regLabel | subjLabel | 
pr | def | etym | MS | specUse | ex | sense | render | i | b | bi | sc | 
in | ini | su | sui | u | fr | ehw)*>

<!-- ehw for location in electronic pubs -->

<!ELEMENT ehw (#PCDATA | x)*>

<!ATTLIST ehw

	type CDATA #IMPLIED

>

<!--Subject Label. Usually renders: sans-serif narrow.-->

<!ELEMENT subjLabel (#PCDATA | r)*>

<!--Sub Sense. Usually renders: alphabetical counter.-->

<!ELEMENT subsense (#PCDATA | ps | exGrp | ex | varGrp | provLabel | 
regLabel | subjLabel | def | xrefGrp | formGrp | gramGrp | render | i | 
b | bi | sc | in | ini | su | sui | u | fr | QuotPara)*>

<!--superior italic font shift-->

<!ELEMENT sui (#PCDATA)>

<!--Syntax.-->

<!ELEMENT syntax (#PCDATA)>

<!--Technical Information Group. Usually renders: roman; generates 
preceding bullet-->

<!ELEMENT techGrp (#PCDATA | techMS | varGrp | xrefGrp | txn | txnBin | 
txnFam | txnGenus | l | render | i | b | bi | sc | in | ini | su | sui | 
u | fr)*>

<!--Technical Meaning Statement. Usually renders: roman; generates 
preceding bullet-->

<!ELEMENT techMS (#PCDATA | def | gramGrp | varGrp | xrefGrp | provLabel 
| txn | txnBin | txnFam | txnGenus | i | b | bi | sc | in | ini | su | 
sui | u | fr)*>

<!--Translation. Usually renders: roman, generate surrounding single 
quotes.-->

<!ELEMENT trans (#PCDATA | Name | u | i)*>

<!--Taxonomic info. Usually renders: according to highlight attribute 
value. true=bold; false=roman.-->

<!ELEMENT txn (#PCDATA | in)*>

<!--highlight: highlight attribute allows emphasis of elements such as 
biographical lemmas and cited works to be toggled on or off.-->

<!ATTLIST txn

	highlight CDATA #IMPLIED

>

<!--Taxonomic Binomial. Usually renders: italic.-->

<!ELEMENT txnBin (#PCDATA | varGrp | r)*>

<!--Taxonomic Family. Usually renders: roman.-->

<!ELEMENT txnFam (#PCDATA)>

<!--Taxonomic Genus. Usually renders: roman.-->

<!ELEMENT txnGenus (#PCDATA | varGrp)*>

<!--Typographic Group. Usually renders: Hidden.-->

<!ELEMENT typGroup (#PCDATA)>

<!--underscore-->

<!ELEMENT u (#PCDATA)>

<!--Usage Note. Usually renders: rule above and below, possible usage 
literal.-->

<!ELEMENT usage (meta?, para+)>

<!ATTLIST usage

	url NMTOKEN "0"

	status (Active | Suppressed | Deleted) 'Active'

>

<!--Variant. Usually renders: bold; is roman or italic within 
&lt;txnBin&gt; or &lt;txnGenus&gt; according to highlight attribute 
value. true=bold; false=roman.-->

<!ELEMENT v (#PCDATA | i | b | r | in | su)*>

<!--highlight: highlight attribute allows emphasis of elements such as 
biographical lemmas and cited works to be toggled on or off.-->

<!ATTLIST v

	highlight CDATA #IMPLIED
	
	%matchString;

>

<!--Variant Group. Usually renders: generate surrounding parens-->

<!ELEMENT varGrp (#PCDATA | v | pronGrp | provLabel | subjLabel | 
regLabel | syntax | infGrp | render | i | b | bi | sc | in | ini | su | 
sui | u | fr)*>

<!--Cross reference target. Usually renders: bold small caps.-->

<!ELEMENT x (#PCDATA | in)*>

<!--Cross reference container. Holds term, homograph number, part of 
speech, sense number.-->

<!ELEMENT xref (#PCDATA | x | ps | hm | sn)*>

<!ATTLIST xref

	refurl NMTOKENS #IMPLIED

	type (entry | sense | lemma | usage) #IMPLIED

>

<!--Cross-Reference Group.-->

<!ELEMENT xrefGrp (#PCDATA | xref | pronGrp | ps | xu | sn | subjLabel | 
provLabel | regLabel | render | i | b | bi | sc | in | ini | su | sui | 
u | fr)*>

<!-- temp element until xrefs are done. marks xrefs to usage notes -->

<!ELEMENT xu (#PCDATA)>

<!--Alphabetical container consists of entries.-->

<!ELEMENT alpha (entry)+>

<!ATTLIST alpha

	letter CDATA #REQUIRED

>

<!--Entry Data Type-->

<!ELEMENT entry (meta?, hwGrp, senseBlock+, encBlock?, phrBlock?, 
pvBlock?, drvBlock?, etymBlock?, usage?, specialFeature?, wordlist?, figure*)>

<!ATTLIST entry

	title CDATA #IMPLIED

	url NMTOKEN "0"

	status (Active | Suppressed | Deleted) "Active"

	entry CDATA #REQUIRED

	sortkey CDATA #REQUIRED

	type CDATA #IMPLIED

	stage CDATA #IMPLIED

>

<!-- ============== Word lists ============== -->
<!ELEMENT wordlist	(CompInstructs?, lhw, listings, xrefGrp?, ln*) >

<!-- composition instructions					-->
<!ELEMENT CompInstructs	(#PCDATA) >
<!-- list headword						-->
<!ELEMENT lhw		(#PCDATA) >
<!-- listings							-->
<!ELEMENT listings	(lcol+) >
<!-- list column						-->
<!ELEMENT lcol		(#PCDATA | li | lip | lic | lh | %Labels; | xrefGrp)* >
<!-- list head							-->
<!ELEMENT lh		(#PCDATA | render)* >
<!-- list item							-->
<!ELEMENT li		(#PCDATA | render)* >
<!-- list in phrase/tradmark?					-->
<!ELEMENT lip		(#PCDATA | render)* >
<!-- list item compound						-->
<!ELEMENT lic		(#PCDATA | render)* >
<!-- list note							-->
<!ELEMENT ln		(#PCDATA | render)* >


<!-- ============== Figures ============== -->
<!ELEMENT figure (caption?) >
<!ATTLIST figure
		%url;
		%refurl;
		%status;
		resource CDATA #IMPLIED
		height CDATA #IMPLIED
		width CDATA #IMPLIED
		units (cols|pt|in) "cols" >
<!ELEMENT caption (#PCDATA | %typog;)* >


<!-- ============== Special Features ============== -->
<!ELEMENT specialFeature	(head?, body) >
<!ATTLIST specialFeature	type	(awkward_synonyms | confusables | word_banks | word_continuums | word_notes | usage_notes | list_words) #REQUIRED 
				%url; >

<!ELEMENT body	(p | list | head)* >

<!ELEMENT list	(head?, (item+ | (label, item)+)) >
<!ATTLIST list 	type (ordered | bulleted | gloss | simple | listwords) "simple" >

<!ELEMENT head	(#PCDATA | render)* >

<!ELEMENT p	(#PCDATA | render | ex)* >

<!ELEMENT item	(#PCDATA | render | ex | l  | ps | inf | %Labels;)* >

<!ELEMENT label	(#PCDATA | render)* >







<!-- XML Character Entities for OUP Dictionaries			-->



<!-- Greek character entities -->

<!ENTITY Alpha "&#x0391;">

<!ENTITY alpha "&#x03B1;">

<!ENTITY alphagra "[alphagra]"><!-- alpha w/grave DEPRECATED -->

<!ENTITY Beta "&#x0392;">

<!ENTITY beta "&#x03B2;">

<!ENTITY Chi "&#x03A7;">

<!ENTITY chi "&#x03C7;">

<!ENTITY Delta "&#x0394;">

<!ENTITY delta "&#x03B4;">

<!ENTITY Digamma "&#x03DC;"><!-- DEPRECATED -->

<!ENTITY digamma "[digamma]"><!-- DEPRECATED -->

<!ENTITY Epsilon "&#x0395;">

<!ENTITY epsilon "&#x03B5;">

<!ENTITY Eta "&#x0397;">

<!ENTITY eta "&#x03B7;">

<!ENTITY Gamma "&#x0393;">

<!ENTITY gamma "&#x03B3;">

<!ENTITY Iota "&#x0399;">

<!ENTITY iota "&#x03B9;">

<!ENTITY Kappa "&#x039A;">

<!ENTITY kappa "&#x03BA;">

<!ENTITY Lambda "&#x039B;">

<!ENTITY lambda "&#x03BB;">

<!ENTITY Mu "&#x039C;">

<!ENTITY mu "&#x03BC;">

<!ENTITY Nu "&#x039D;">

<!ENTITY nu "&#x03BD;">

<!ENTITY Omega "&#x03A9;">

<!ENTITY omega "&#x03C9;">

<!ENTITY Omicron "&#x039F;">

<!ENTITY omicron "&#x03BF;">

<!ENTITY Phi "&#x03A6;">

<!ENTITY phi "&#x03C6;">

<!ENTITY Pi "&#x03A0;">

<!ENTITY pi "&#x03C0;">

<!ENTITY Psi "&#x03A8;">

<!ENTITY psi "&#x03C8;">

<!ENTITY Rho "&#x03A1;">

<!ENTITY rho "&#x03C1;">

<!ENTITY Sigma "&#x03A3;">

<!ENTITY sigma "&#x03C3;">

<!ENTITY ssC "[ssC]" ><!-- uncial Sigma -->

<!ENTITY ssc "[ssc]" ><!-- uncial sigma -->

<!ENTITY tsigma "&#x03C2;">

<!ENTITY Tau "&#x03A4;">

<!ENTITY tau "&#x03C4;">

<!ENTITY Theta "&#x0398;">

<!ENTITY theta "&#x03B8;">

<!ENTITY Upsilon "&#x03A5;">

<!ENTITY upsilon "&#x03C5;">

<!ENTITY Xi "&#x039E;">

<!ENTITY xi "&#x03BE;">

<!ENTITY Zeta "&#x0396;">

<!ENTITY zeta "&#x03B6;">



<!-- Characters not in base ISO sets (used) -->

<!ENTITY adotu "&#x0323;a"><!-- a dot below DEPRECATED -->

<!ENTITY aeligacu "&#x01FD;">

<!ENTITY agma "[agma]"><!-- agma -->

<!ENTITY acaron "&#x01CE;">

<!ENTITY amacbreve "&#x0306;&#x0101;">

<!ENTITY amactilde "&#x0303;&#x0101;">

<!ENTITY asp "&#x201B;">

<!ENTITY ayin "&#x05E2;">

<!ENTITY assyrH "[assyrH]"><!-- ?? -->

<!ENTITY b1 "&#x2212;"><!-- single bond -->

<!ENTITY b2 "&#x003D;"><!-- double bond -->

<!ENTITY b3 "&#x2261;"><!-- triple bond -->

<!ENTITY basee "[basee]"><!-- log base e -->

<!ENTITY macronsubnsp "&#x0331;">

<!ENTITY bullet "&#x2022;">

<!ENTITY cbreve "c&#x0306;"><!-- c breve DEPRECATED -->

<!ENTITY cdotu "&#x0323;c">

<!ENTITY dbelow "&#x0323;">

<!ENTITY ddotu "&#x0323;d">

<!ENTITY dflat "[dflat]"><!-- double flat -->

<!ENTITY ditto "&quot;"><!-- ditto mark DEPRECATED -->

<!ENTITY dsharp "[dsharp]"><!-- double sharp -->

<!ENTITY ebreve "&#x0115;">

<!ENTITY eced "e&#x0327;"><!-- e cedilla DEPRECATED -->

<!ENTITY edotu "&#x0323;e">

<!ENTITY etilde "e&#x0303;">

<!ENTITY farad "[farad]"><!-- faraday DEPRECATED -->

<!ENTITY fermata "[fermata]"><!-- fermata, see pauseo -->

<!ENTITY frown "[frown]"><!-- frown DEPRECATED -->

<!ENTITY gdotu "&#x0323;g">

<!ENTITY germans "&#x00DF;">

<!ENTITY ghacek "&#x01E7;">

<!ENTITY gmacr "g&#x0304;">

<!ENTITY handf "[handf]"><!-- handf DEPRECATED -->

<!ENTITY hash "&#x0023;">

<!ENTITY Hdotu "&#x0323;H">

<!ENTITY hdotu "&#x0323;h">

<!ENTITY ibreve "&#x012D;">

<!ENTITY ifrownb "[ifrownb]"><!-- i frown below DEPRECATED -->

<!ENTITY ihacek "&#x01D0;">

<!ENTITY infin "&#x221E;">

<!ENTITY insert "&#x2038;">

<!ENTITY integ "&#x222B;">

<!ENTITY kdotu "&#x0323;k">

<!ENTITY ldotu "&#x0323;l">

<!ENTITY lenis "[lenis]"><!-- lenis -->

<!ENTITY lmidtilde "&#x026B;">

<!ENTITY esh "&#x0283;">

<!ENTITY mbreve "m&#x0306;">

<!ENTITY mdot "m&#x0307;">

<!ENTITY mdotu "&#x0323;m">

<!ENTITY minus "&#x2212;">

<!ENTITY ndot "&#x0307;">

<!ENTITY ndotu "&#x0323;n">

<!ENTITY neq "&#x2260;">

<!ENTITY Obreve "&#x014E;">

<!ENTITY obreve "&#x014F;">

<!ENTITY oemacr "&#x0304;&#x0153;">

<!ENTITY ohacek "&#x01D2;">

<!ENTITY ohook "&#x04A9;">

<!ENTITY p "&#x2032;">

<!ENTITY pp "&#x2033;">

<!ENTITY para "&#x00B6;">

<!ENTITY pauseo "[pauseo]"><!-- fermata (music) -->

<!ENTITY pmacr "p&#x0304;">

<!ENTITY prop "[prop]"><!-- proprietary (is abbr.?) -->

<!ENTITY prtl "[prtl]"><!-- partial derivative -->

<!ENTITY qdotu "&#x0323;q">

<!ENTITY quart "&#x00BC;"><!-- one quarter DEPRECATED -->

<!ENTITY rash "[rash]"><!-- runic ash -->

<!ENTITY rdotu "&#x0323;r">

<!ENTITY rdot "r&#x0307;">

<!ENTITY cturn "&#x0254;">

<!ENTITY cturnacute "&#x0301;&#x0254;">

<!ENTITY sbreve "s&#x0306;">

<!ENTITY scbelow "[scbelow]"><!-- s c below, error? s/b sdbelow?? -->

<!ENTITY schwa "&#x0259;">

<!ENTITY Sdotu "&#x0323;S">

<!ENTITY sdotu "&#x0323;s">

<!ENTITY smacr "s&#x0304;">

<!ENTITY sqrt "&#x221A;">

<!ENTITY sqrt2 "&#x00B2;&#x221A;">

<!ENTITY swing "&#x223C;">

<!ENTITY symb "[symb]"><!-- symbol? -->

<!ENTITY tacute "t&#x0301;">

<!ENTITY Tdotu "&#x0323;T">

<!ENTITY tdotu "&#x0323;t">

<!ENTITY trli "&#x01C1;">

<!ENTITY Udotu "&#x0323;U">

<!ENTITY udotu "&#x0323;u">

<!ENTITY udtr "&#x018D;">

<!ENTITY uhacek "&#x01D4;">

<!ENTITY wynn "&#x01BF;">

<!ENTITY ygrave "&#x1EF3;">

<!ENTITY ymacr "&#x0304;">

<!ENTITY yogh "&#x0292;">

<!ENTITY ytilde "y&#x0303;">

<!ENTITY Zdotu "&#x0323;Z">

<!ENTITY zdotu "&#x0323;z">



<!-- American ODEL additions (for prons) -->

<!-- best possible is done here with UTF-8 for screen representation -->

<!ENTITY aaacute "a&#x00E1;"><!-- aa acute -->

<!ENTITY aemacr "&#x01E3;"><!-- ae macron -->

<!ENTITY amacracute "&#x0301;&#x0101;"><!-- a macron acute -->

<!ENTITY aumlacute "&#x0301;&#x00E4;"><!-- a umlaut acute -->

<!ENTITY eeacute "e&#x00E9;"><!-- ee acute -->

<!ENTITY emacracute "&#x0301;&#x0113;"><!-- e macron acute -->

<!ENTITY eumlacute "&#x0301;&#x00EB;"><!-- e umlaut acute -->

<!ENTITY imacracute "&#x0301;&#x012B;"><!-- i macron acute -->

<!ENTITY iumlacute "&#x0301;&#x00EF;"><!-- i umlaut acute -->

<!ENTITY omacracute "&#x0301;&#x014D;"><!-- o macron acute -->

<!ENTITY oumlacute "&#x0301;&#x00F6;"><!-- o umlaut acute -->

<!ENTITY ooacute "o&#x00F3;"><!-- oo acute -->

<!ENTITY oobreve "o&#x014F;"><!-- oo breve -->

<!ENTITY oobreveacute "o&#x0301;&#x014F;"><!-- oo breve acute -->

<!ENTITY oomacr "o&#x014D;"><!-- oo macron -->

<!ENTITY oomacracute "o&#x0301;&#x014D;"><!-- oo macron acute -->

<!ENTITY oetilde "&#x0303;&#x0153;"><!-- oe ligature tilde -->

<!ENTITY schwaacute "&#x0301;&#x0259;"><!-- schwa acute -->

<!ENTITY uumlacute "&#x01D8;"><!-- u umlaut acute -->

<!ENTITY umacracute "&#x01D6;"><!-- u macron acute -->

<!ENTITY hsb "&#x00B7;"><!-- discretionary hyphen point -->

<!ENTITY stress1 "&#x02C8;"><!-- primary stress mark -->

<!ENTITY stress2 "&#x02CC;"><!-- secondary stress mark -->

<!ENTITY wav "[wav]"><!-- ??? -->

<!ENTITY wa "[wa]"><!-- ??? -->

<!ENTITY ibar "&#x0268;"><!-- barred i -->

<!ENTITY voicedth "[voicedth]"><!-- voiced th -->

<!ENTITY unvoicedth "[unvoicedth]"><!-- unvoiced th -->





<!-- BEGIN ISO ENTITIES						-->





<!-- iso-lat1.ent (initially distributed with DocBook XML DTD 
V4.1.1beta1) -->



<!-- Derived from the corresponding ISO 8879 standard entity set

     and the Unicode character mappings provided by Sebastian Rahtz -->



<!ENTITY aacute	"&#x00E1;"> <!-- LATIN SMALL LETTER A WITH ACUTE -->

<!ENTITY Aacute	"&#x00C1;"> <!-- LATIN CAPITAL LETTER A WITH ACUTE -->

<!ENTITY acirc	"&#x00E2;"> <!-- LATIN SMALL LETTER A WITH CIRCUMFLEX -->

<!ENTITY Acirc	"&#x00C2;"> <!-- LATIN CAPITAL LETTER A WITH CIRCUMFLEX 
-->

<!ENTITY agrave	"&#x00E0;"> <!-- LATIN SMALL LETTER A WITH GRAVE -->

<!ENTITY Agrave	"&#x00C0;"> <!-- LATIN CAPITAL LETTER A WITH GRAVE -->

<!ENTITY aring	"&#x00E5;"> <!-- LATIN SMALL LETTER A WITH RING ABOVE -->

<!ENTITY Aring	"&#x00C5;"> <!-- LATIN CAPITAL LETTER A WITH RING ABOVE 
-->

<!ENTITY atilde	"&#x00E3;"> <!-- LATIN SMALL LETTER A WITH TILDE -->

<!ENTITY Atilde	"&#x00C3;"> <!-- LATIN CAPITAL LETTER A WITH TILDE -->

<!ENTITY auml	"&#x00E4;"> <!-- LATIN SMALL LETTER A WITH DIAERESIS -->

<!ENTITY Auml	"&#x00C4;"> <!-- LATIN CAPITAL LETTER A WITH DIAERESIS -->

<!ENTITY aelig	"&#x00E6;"> <!-- LATIN SMALL LETTER AE -->

<!ENTITY AElig	"&#x00C6;"> <!-- LATIN CAPITAL LETTER AE -->

<!ENTITY ccedil	"&#x00E7;"> <!-- LATIN SMALL LETTER C WITH CEDILLA -->

<!ENTITY Ccedil	"&#x00C7;"> <!-- LATIN CAPITAL LETTER C WITH CEDILLA -->

<!ENTITY eth	"&#x00F0;"> <!-- LATIN SMALL LETTER ETH -->

<!ENTITY ETH	"&#x00D0;"> <!-- LATIN CAPITAL LETTER ETH -->

<!ENTITY eacute	"&#x00E9;"> <!-- LATIN SMALL LETTER E WITH ACUTE -->

<!ENTITY Eacute	"&#x00C9;"> <!-- LATIN CAPITAL LETTER E WITH ACUTE -->

<!ENTITY ecirc	"&#x00EA;"> <!-- LATIN SMALL LETTER E WITH CIRCUMFLEX -->

<!ENTITY Ecirc	"&#x00CA;"> <!-- LATIN CAPITAL LETTER E WITH CIRCUMFLEX 
-->

<!ENTITY egrave	"&#x00E8;"> <!-- LATIN SMALL LETTER E WITH GRAVE -->

<!ENTITY Egrave	"&#x00C8;"> <!-- LATIN CAPITAL LETTER E WITH GRAVE -->

<!ENTITY euml	"&#x00EB;"> <!-- LATIN SMALL LETTER E WITH DIAERESIS -->

<!ENTITY Euml	"&#x00CB;"> <!-- LATIN CAPITAL LETTER E WITH DIAERESIS -->

<!ENTITY iacute	"&#x00ED;"> <!-- LATIN SMALL LETTER I WITH ACUTE -->

<!ENTITY Iacute	"&#x00CD;"> <!-- LATIN CAPITAL LETTER I WITH ACUTE -->

<!ENTITY icirc	"&#x00EE;"> <!-- LATIN SMALL LETTER I WITH CIRCUMFLEX -->

<!ENTITY Icirc	"&#x00CE;"> <!-- LATIN CAPITAL LETTER I WITH CIRCUMFLEX 
-->

<!ENTITY igrave	"&#x00EC;"> <!-- LATIN SMALL LETTER I WITH GRAVE -->

<!ENTITY Igrave	"&#x00CC;"> <!-- LATIN CAPITAL LETTER I WITH GRAVE -->

<!ENTITY iuml	"&#x00EF;"> <!-- LATIN SMALL LETTER I WITH DIAERESIS -->

<!ENTITY Iuml	"&#x00CF;"> <!-- LATIN CAPITAL LETTER I WITH DIAERESIS -->

<!ENTITY ntilde	"&#x00F1;"> <!-- LATIN SMALL LETTER N WITH TILDE -->

<!ENTITY Ntilde	"&#x00D1;"> <!-- LATIN CAPITAL LETTER N WITH TILDE -->

<!ENTITY oacute	"&#x00F3;"> <!-- LATIN SMALL LETTER O WITH ACUTE -->

<!ENTITY Oacute	"&#x00D3;"> <!-- LATIN CAPITAL LETTER O WITH ACUTE -->

<!ENTITY ocirc	"&#x00F4;"> <!-- LATIN SMALL LETTER O WITH CIRCUMFLEX -->

<!ENTITY Ocirc	"&#x00D4;"> <!-- LATIN CAPITAL LETTER O WITH CIRCUMFLEX 
-->

<!ENTITY ograve	"&#x00F2;"> <!-- LATIN SMALL LETTER O WITH GRAVE -->

<!ENTITY Ograve	"&#x00D2;"> <!-- LATIN CAPITAL LETTER O WITH GRAVE -->

<!ENTITY oslash	"&#x00F8;"> <!-- LATIN SMALL LETTER O WITH STROKE -->

<!ENTITY Oslash	"&#x00D8;"> <!-- LATIN CAPITAL LETTER O WITH STROKE -->

<!ENTITY otilde	"&#x00F5;"> <!-- LATIN SMALL LETTER O WITH TILDE -->

<!ENTITY Otilde	"&#x00D5;"> <!-- LATIN CAPITAL LETTER O WITH TILDE -->

<!ENTITY ouml	"&#x00F6;"> <!-- LATIN SMALL LETTER O WITH DIAERESIS -->

<!ENTITY Ouml	"&#x00D6;"> <!-- LATIN CAPITAL LETTER O WITH DIAERESIS -->

<!ENTITY szlig	"&#x00DF;"> <!-- LATIN SMALL LETTER SHARP S -->

<!ENTITY thorn	"&#x00FE;"> <!-- LATIN SMALL LETTER THORN -->

<!ENTITY THORN	"&#x00DE;"> <!-- LATIN CAPITAL LETTER THORN -->

<!ENTITY uacute	"&#x00FA;"> <!-- LATIN SMALL LETTER U WITH ACUTE -->

<!ENTITY Uacute	"&#x00DA;"> <!-- LATIN CAPITAL LETTER U WITH ACUTE -->

<!ENTITY ucirc	"&#x00FB;"> <!-- LATIN SMALL LETTER U WITH CIRCUMFLEX -->

<!ENTITY Ucirc	"&#x00DB;"> <!-- LATIN CAPITAL LETTER U WITH CIRCUMFLEX 
-->

<!ENTITY ugrave	"&#x00F9;"> <!-- LATIN SMALL LETTER U WITH GRAVE -->

<!ENTITY Ugrave	"&#x00D9;"> <!-- LATIN CAPITAL LETTER U WITH GRAVE -->

<!ENTITY uuml	"&#x00FC;"> <!-- LATIN SMALL LETTER U WITH DIAERESIS -->

<!ENTITY Uuml	"&#x00DC;"> <!-- LATIN CAPITAL LETTER U WITH DIAERESIS -->

<!ENTITY yacute	"&#x00FD;"> <!-- LATIN SMALL LETTER Y WITH ACUTE -->

<!ENTITY Yacute	"&#x00DD;"> <!-- LATIN CAPITAL LETTER Y WITH ACUTE -->

<!ENTITY yuml	"&#x00FF;"> <!-- LATIN SMALL LETTER Y WITH DIAERESIS -->



<!-- iso-lat2.ent (initially distributed with DocBook XML DTD 
V4.1.1beta1) -->



<!-- Derived from the corresponding ISO 8879 standard entity set

     and the Unicode character mappings provided by Sebastian Rahtz -->



<!ENTITY abreve	"&#x0103;"> <!-- LATIN SMALL LETTER A WITH BREVE -->

<!ENTITY Abreve	"&#x0102;"> <!-- LATIN CAPITAL LETTER A WITH BREVE -->

<!ENTITY amacr	"&#x0101;"> <!-- LATIN SMALL LETTER A WITH MACRON -->

<!ENTITY Amacr	"&#x0100;"> <!-- LATIN CAPITAL LETTER A WITH MACRON -->

<!ENTITY aogon	"&#x0105;"> <!-- LATIN SMALL LETTER A WITH OGONEK -->

<!ENTITY Aogon	"&#x0104;"> <!-- LATIN CAPITAL LETTER A WITH OGONEK -->

<!ENTITY cacute	"&#x0107;"> <!-- LATIN SMALL LETTER C WITH ACUTE -->

<!ENTITY Cacute	"&#x0106;"> <!-- LATIN CAPITAL LETTER C WITH ACUTE -->

<!ENTITY ccaron	"&#x010D;"> <!-- LATIN SMALL LETTER C WITH CARON -->

<!ENTITY Ccaron	"&#x010C;"> <!-- LATIN CAPITAL LETTER C WITH CARON -->

<!ENTITY ccirc	"&#x0109;"> <!-- LATIN SMALL LETTER C WITH CIRCUMFLEX -->

<!ENTITY Ccirc	"&#x0108;"> <!-- LATIN CAPITAL LETTER C WITH CIRCUMFLEX 
-->

<!ENTITY cdot	"&#x010B;"> <!-- DOT OPERATOR -->

<!ENTITY Cdot	"&#x010A;"> <!-- LATIN CAPITAL LETTER C WITH DOT ABOVE -->

<!ENTITY dcaron	"&#x010F;"> <!-- LATIN SMALL LETTER D WITH CARON -->

<!ENTITY Dcaron	"&#x010E;"> <!-- LATIN CAPITAL LETTER D WITH CARON -->

<!ENTITY dstrok	"&#x0111;"> <!-- LATIN SMALL LETTER D WITH STROKE -->

<!ENTITY Dstrok	"&#x0110;"> <!-- LATIN CAPITAL LETTER D WITH STROKE -->

<!ENTITY ecaron	"&#x011B;"> <!-- LATIN SMALL LETTER E WITH CARON -->

<!ENTITY Ecaron	"&#x011A;"> <!-- LATIN CAPITAL LETTER E WITH CARON -->

<!ENTITY edot	"&#x0117;"> <!-- LATIN SMALL LETTER E WITH DOT ABOVE -->

<!ENTITY Edot	"&#x0116;"> <!-- LATIN CAPITAL LETTER E WITH DOT ABOVE -->

<!ENTITY emacr	"&#x0113;"> <!-- LATIN SMALL LETTER E WITH MACRON -->

<!ENTITY Emacr	"&#x0112;"> <!-- LATIN CAPITAL LETTER E WITH MACRON -->

<!ENTITY eogon	"&#x0119;"> <!-- LATIN SMALL LETTER E WITH OGONEK -->

<!ENTITY Eogon	"&#x0118;"> <!-- LATIN CAPITAL LETTER E WITH OGONEK -->

<!ENTITY gacute	"&#x01F5;"> <!-- LATIN SMALL LETTER G WITH ACUTE -->

<!ENTITY gbreve	"&#x011F;"> <!-- LATIN SMALL LETTER G WITH BREVE -->

<!ENTITY Gbreve	"&#x011E;"> <!-- LATIN CAPITAL LETTER G WITH BREVE -->

<!ENTITY Gcedil	"&#x0122;"> <!-- LATIN CAPITAL LETTER G WITH CEDILLA -->

<!ENTITY gcirc	"&#x011D;"> <!-- LATIN SMALL LETTER G WITH CIRCUMFLEX -->

<!ENTITY Gcirc	"&#x011C;"> <!-- LATIN CAPITAL LETTER G WITH CIRCUMFLEX 
-->

<!ENTITY gdot	"&#x0121;"> <!-- LATIN SMALL LETTER G WITH DOT ABOVE -->

<!ENTITY Gdot	"&#x0120;"> <!-- LATIN CAPITAL LETTER G WITH DOT ABOVE -->

<!ENTITY hcirc	"&#x0125;"> <!-- LATIN SMALL LETTER H WITH CIRCUMFLEX -->

<!ENTITY Hcirc	"&#x0124;"> <!-- LATIN CAPITAL LETTER H WITH CIRCUMFLEX 
-->

<!ENTITY hstrok	"&#x0127;"> <!-- LATIN SMALL LETTER H WITH STROKE -->

<!ENTITY Hstrok	"&#x0126;"> <!-- LATIN CAPITAL LETTER H WITH STROKE -->

<!ENTITY Idot	"&#x0130;"> <!-- LATIN CAPITAL LETTER I WITH DOT ABOVE -->

<!ENTITY Imacr	"&#x012A;"> <!-- LATIN CAPITAL LETTER I WITH MACRON -->

<!ENTITY imacr	"&#x012B;"> <!-- LATIN SMALL LETTER I WITH MACRON -->

<!ENTITY ijlig	"&#x0133;"> <!-- LATIN SMALL LIGATURE IJ -->

<!ENTITY IJlig	"&#x0132;"> <!-- LATIN CAPITAL LIGATURE IJ -->

<!ENTITY inodot	"&#x0131;"> <!-- LATIN SMALL LETTER DOTLESS I -->

<!ENTITY iogon	"&#x012F;"> <!-- LATIN SMALL LETTER I WITH OGONEK -->

<!ENTITY Iogon	"&#x012E;"> <!-- LATIN CAPITAL LETTER I WITH OGONEK -->

<!ENTITY itilde	"&#x0129;"> <!-- LATIN SMALL LETTER I WITH TILDE -->

<!ENTITY Itilde	"&#x0128;"> <!-- LATIN CAPITAL LETTER I WITH TILDE -->

<!ENTITY jcirc	"&#x0135;"> <!-- LATIN SMALL LETTER J WITH CIRCUMFLEX -->

<!ENTITY Jcirc	"&#x0134;"> <!-- LATIN CAPITAL LETTER J WITH CIRCUMFLEX 
-->

<!ENTITY kcedil	"&#x0137;"> <!-- LATIN SMALL LETTER K WITH CEDILLA -->

<!ENTITY Kcedil	"&#x0136;"> <!-- LATIN CAPITAL LETTER K WITH CEDILLA -->

<!ENTITY kgreen	"&#x0138;"> <!-- LATIN SMALL LETTER KRA -->

<!ENTITY lacute	"&#x013A;"> <!-- LATIN SMALL LETTER L WITH ACUTE -->

<!ENTITY Lacute	"&#x0139;"> <!-- LATIN CAPITAL LETTER L WITH ACUTE -->

<!ENTITY lcaron	"&#x013E;"> <!-- LATIN SMALL LETTER L WITH CARON -->

<!ENTITY Lcaron	"&#x013D;"> <!-- LATIN CAPITAL LETTER L WITH CARON -->

<!ENTITY lcedil	"&#x013C;"> <!-- LATIN SMALL LETTER L WITH CEDILLA -->

<!ENTITY Lcedil	"&#x013B;"> <!-- LATIN CAPITAL LETTER L WITH CEDILLA -->

<!ENTITY lmidot	"&#x0140;"> <!-- LATIN SMALL LETTER L WITH MIDDLE DOT 
-->

<!ENTITY Lmidot	"&#x013F;"> <!-- LATIN CAPITAL LETTER L WITH MIDDLE DOT 
-->

<!ENTITY lstrok	"&#x0142;"> <!-- LATIN SMALL LETTER L WITH STROKE -->

<!ENTITY Lstrok	"&#x0141;"> <!-- LATIN CAPITAL LETTER L WITH STROKE -->

<!ENTITY nacute	"&#x0144;"> <!-- LATIN SMALL LETTER N WITH ACUTE -->

<!ENTITY Nacute	"&#x0143;"> <!-- LATIN CAPITAL LETTER N WITH ACUTE -->

<!ENTITY eng	"&#x014B;"> <!-- LATIN SMALL LETTER ENG -->

<!ENTITY ENG	"&#x014A;"> <!-- LATIN CAPITAL LETTER ENG -->

<!ENTITY napos	"&#x0149;"> <!-- LATIN SMALL LETTER N PRECEDED BY 
APOSTROPHE -->

<!ENTITY ncaron	"&#x0148;"> <!-- LATIN SMALL LETTER N WITH CARON -->

<!ENTITY Ncaron	"&#x0147;"> <!-- LATIN CAPITAL LETTER N WITH CARON -->

<!ENTITY ncedil	"&#x0146;"> <!-- LATIN SMALL LETTER N WITH CEDILLA -->

<!ENTITY Ncedil	"&#x0145;"> <!-- LATIN CAPITAL LETTER N WITH CEDILLA -->

<!ENTITY odblac	"&#x0151;"> <!-- LATIN SMALL LETTER O WITH DOUBLE ACUTE 
-->

<!ENTITY Odblac	"&#x0150;"> <!-- LATIN CAPITAL LETTER O WITH DOUBLE 
ACUTE -->

<!ENTITY Omacr	"&#x014C;"> <!-- LATIN CAPITAL LETTER O WITH MACRON -->

<!ENTITY omacr	"&#x014D;"> <!-- LATIN SMALL LETTER O WITH MACRON -->

<!ENTITY oelig	"&#x0153;"> <!-- LATIN SMALL LIGATURE OE -->

<!ENTITY OElig	"&#x0152;"> <!-- LATIN CAPITAL LIGATURE OE -->

<!ENTITY racute	"&#x0155;"> <!-- LATIN SMALL LETTER R WITH ACUTE -->

<!ENTITY Racute	"&#x0154;"> <!-- LATIN CAPITAL LETTER R WITH ACUTE -->

<!ENTITY rcaron	"&#x0159;"> <!-- LATIN SMALL LETTER R WITH CARON -->

<!ENTITY Rcaron	"&#x0158;"> <!-- LATIN CAPITAL LETTER R WITH CARON -->

<!ENTITY rcedil	"&#x0157;"> <!-- LATIN SMALL LETTER R WITH CEDILLA -->

<!ENTITY Rcedil	"&#x0156;"> <!-- LATIN CAPITAL LETTER R WITH CEDILLA -->

<!ENTITY sacute	"&#x015B;"> <!-- LATIN SMALL LETTER S WITH ACUTE -->

<!ENTITY Sacute	"&#x015A;"> <!-- LATIN CAPITAL LETTER S WITH ACUTE -->

<!ENTITY scaron	"&#x0161;"> <!-- LATIN SMALL LETTER S WITH CARON -->

<!ENTITY Scaron	"&#x0160;"> <!-- LATIN CAPITAL LETTER S WITH CARON -->

<!ENTITY scedil	"&#x015F;"> <!-- LATIN SMALL LETTER S WITH CEDILLA -->

<!ENTITY Scedil	"&#x015E;"> <!-- LATIN CAPITAL LETTER S WITH CEDILLA -->

<!ENTITY scirc	"&#x015D;"> <!-- LATIN SMALL LETTER S WITH CIRCUMFLEX -->

<!ENTITY Scirc	"&#x015C;"> <!-- LATIN CAPITAL LETTER S WITH CIRCUMFLEX 
-->

<!ENTITY tcaron	"&#x0165;"> <!-- LATIN SMALL LETTER T WITH CARON -->

<!ENTITY Tcaron	"&#x0164;"> <!-- LATIN CAPITAL LETTER T WITH CARON -->

<!ENTITY tcedil	"&#x0163;"> <!-- LATIN SMALL LETTER T WITH CEDILLA -->

<!ENTITY Tcedil	"&#x0162;"> <!-- LATIN CAPITAL LETTER T WITH CEDILLA -->

<!ENTITY tstrok	"&#x0167;"> <!-- LATIN SMALL LETTER T WITH STROKE -->

<!ENTITY Tstrok	"&#x0166;"> <!-- LATIN CAPITAL LETTER T WITH STROKE -->

<!ENTITY ubreve	"&#x016D;"> <!-- LATIN SMALL LETTER U WITH BREVE -->

<!ENTITY Ubreve	"&#x016C;"> <!-- LATIN CAPITAL LETTER U WITH BREVE -->

<!ENTITY udblac	"&#x0171;"> <!-- LATIN SMALL LETTER U WITH DOUBLE ACUTE 
-->

<!ENTITY Udblac	"&#x0170;"> <!-- LATIN CAPITAL LETTER U WITH DOUBLE 
ACUTE -->

<!ENTITY umacr	"&#x016B;"> <!-- LATIN SMALL LETTER U WITH MACRON -->

<!ENTITY Umacr	"&#x016A;"> <!-- LATIN CAPITAL LETTER U WITH MACRON -->

<!ENTITY uogon	"&#x0173;"> <!-- LATIN SMALL LETTER U WITH OGONEK -->

<!ENTITY Uogon	"&#x0172;"> <!-- LATIN CAPITAL LETTER U WITH OGONEK -->

<!ENTITY uring	"&#x016F;"> <!-- LATIN SMALL LETTER U WITH RING ABOVE -->

<!ENTITY Uring	"&#x016E;"> <!-- LATIN CAPITAL LETTER U WITH RING ABOVE 
-->

<!ENTITY utilde	"&#x0169;"> <!-- LATIN SMALL LETTER U WITH TILDE -->

<!ENTITY Utilde	"&#x0168;"> <!-- LATIN CAPITAL LETTER U WITH TILDE -->

<!ENTITY wcirc	"&#x0175;"> <!-- LATIN SMALL LETTER W WITH CIRCUMFLEX -->

<!ENTITY Wcirc	"&#x0174;"> <!-- LATIN CAPITAL LETTER W WITH CIRCUMFLEX 
-->

<!ENTITY ycirc	"&#x0177;"> <!-- LATIN SMALL LETTER Y WITH CIRCUMFLEX -->

<!ENTITY Ycirc	"&#x0176;"> <!-- LATIN CAPITAL LETTER Y WITH CIRCUMFLEX 
-->

<!ENTITY Yuml	"&#x0178;"> <!-- LATIN CAPITAL LETTER Y WITH DIAERESIS -->

<!ENTITY zacute	"&#x017A;"> <!-- LATIN SMALL LETTER Z WITH ACUTE -->

<!ENTITY Zacute	"&#x0179;"> <!-- LATIN CAPITAL LETTER Z WITH ACUTE -->

<!ENTITY zcaron	"&#x017E;"> <!-- LATIN SMALL LETTER Z WITH CARON -->

<!ENTITY Zcaron	"&#x017D;"> <!-- LATIN CAPITAL LETTER Z WITH CARON -->

<!ENTITY zdot	"&#x017C;"> <!-- LATIN SMALL LETTER Z WITH DOT ABOVE -->

<!ENTITY Zdot	"&#x017B;"> <!-- LATIN CAPITAL LETTER Z WITH DOT ABOVE -->



<!-- iso-num.ent (initially distributed with DocBook XML DTD 
V4.1.1beta1) -->



<!-- Derived from the corresponding ISO 8879 standard entity set

     and the Unicode character mappings provided by Sebastian Rahtz -->



<!ENTITY half	"&#x00BD;"> <!-- VULGAR FRACTION ONE HALF -->

<!ENTITY frac12	"&#x00BD;"> <!-- VULGAR FRACTION ONE HALF -->

<!ENTITY frac14	"&#x00BC;"> <!-- VULGAR FRACTION ONE QUARTER -->

<!ENTITY frac34	"&#x00BE;"> <!-- VULGAR FRACTION THREE QUARTERS -->

<!ENTITY frac18	"&#x215B;"> <!--  -->

<!ENTITY frac38	"&#x215C;"> <!--  -->

<!ENTITY frac58	"&#x215D;"> <!--  -->

<!ENTITY frac78	"&#x215E;"> <!--  -->

<!ENTITY sup1	"&#x00B9;"> <!-- SUPERSCRIPT ONE -->

<!ENTITY sup2	"&#x00B2;"> <!-- SUPERSCRIPT TWO -->

<!ENTITY sup3	"&#x00B3;"> <!-- SUPERSCRIPT THREE -->

<!ENTITY plus	"&#x002B;"> <!-- PLUS SIGN -->

<!ENTITY plusmn	"&#x00B1;"> <!-- PLUS-MINUS SIGN -->

<!ENTITY lt	"&#38;#60;"> <!-- LESS-THAN SIGN -->

<!ENTITY equals	"&#x003D;"> <!-- EQUALS SIGN -->

<!ENTITY gt	"&#x003E;"> <!-- GREATER-THAN SIGN -->

<!ENTITY divide	"&#x00F7;"> <!-- DIVISION SIGN -->

<!ENTITY times	"&#x00D7;"> <!-- MULTIPLICATION SIGN -->

<!ENTITY curren	"&#x00A4;"> <!-- CURRENCY SIGN -->

<!ENTITY pound	"&#x00A3;"> <!-- POUND SIGN -->

<!ENTITY dollar	"&#x0024;"> <!-- DOLLAR SIGN -->

<!ENTITY cent	"&#x00A2;"> <!-- CENT SIGN -->

<!ENTITY yen	"&#x00A5;"> <!-- YEN SIGN -->

<!ENTITY num	"&#x0023;"> <!-- NUMBER SIGN -->

<!ENTITY percnt	"&#x0025;"> <!-- PERCENT SIGN -->

<!ENTITY amp	"&#38;#38;"> <!-- AMPERSAND -->

<!ENTITY ast	"&#x002A;"> <!-- ASTERISK OPERATOR -->

<!ENTITY commat	"&#x0040;"> <!-- COMMERCIAL AT -->

<!ENTITY lsqb	"&#x005B;"> <!-- LEFT SQUARE BRACKET -->

<!ENTITY bsol	"&#x005C;"> <!-- REVERSE SOLIDUS -->

<!ENTITY rsqb	"&#x005D;"> <!-- RIGHT SQUARE BRACKET -->

<!ENTITY lcub	"&#x007B;"> <!-- LEFT CURLY BRACKET -->

<!ENTITY horbar	"&#x2015;"> <!-- HORIZONTAL BAR -->

<!ENTITY verbar	"&#x007C;"> <!-- VERTICAL LINE -->

<!ENTITY rcub	"&#x007D;"> <!-- RIGHT CURLY BRACKET -->

<!ENTITY micro	"&#x00B5;"> <!-- MICRO SIGN -->

<!ENTITY ohm	"&#x2126;"> <!-- OHM SIGN -->

<!ENTITY deg	"&#x00B0;"> <!-- DEGREE SIGN -->

<!ENTITY ordm	"&#x00BA;"> <!-- MASCULINE ORDINAL INDICATOR -->

<!ENTITY ordf	"&#x00AA;"> <!-- FEMININE ORDINAL INDICATOR -->

<!ENTITY sect	"&#x00A7;"> <!-- SECTION SIGN -->

<!ENTITY para	"&#x00B6;"> <!-- PILCROW SIGN -->

<!ENTITY middot	"&#x00B7;"> <!-- MIDDLE DOT -->

<!ENTITY larr	"&#x2190;"> <!-- LEFTWARDS DOUBLE ARROW -->

<!ENTITY rarr	"&#x2192;"> <!-- RIGHTWARDS DOUBLE ARROW -->

<!ENTITY uarr	"&#x2191;"> <!-- UPWARDS ARROW -->

<!ENTITY darr	"&#x2193;"> <!-- DOWNWARDS ARROW -->

<!ENTITY copy	"&#x00A9;"> <!-- COPYRIGHT SIGN -->

<!ENTITY reg	"&#x00AE;"> <!-- REG TRADE MARK SIGN -->

<!ENTITY trade	"&#x2122;"> <!-- TRADE MARK SIGN -->

<!ENTITY brvbar	"&#x00A6;"> <!-- BROKEN BAR -->

<!ENTITY not	"&#x00AC;"> <!-- NOT SIGN -->

<!ENTITY sung	"&#x2669;"> <!--  -->

<!ENTITY excl	"&#x0021;"> <!-- EXCLAMATION MARK -->

<!ENTITY iexcl	"&#x00A1;"> <!-- INVERTED EXCLAMATION MARK -->

<!ENTITY quot	"&#x0022;"> <!-- QUOTATION MARK -->

<!ENTITY apos	"&#x0027;"> <!-- APOSTROPHE -->

<!ENTITY lpar	"&#x0028;"> <!-- LEFT PARENTHESIS -->

<!ENTITY rpar	"&#x0029;"> <!-- RIGHT PARENTHESIS -->

<!ENTITY comma	"&#x002C;"> <!-- COMMA -->

<!ENTITY lowbar	"&#x005F;"> <!-- LOW LINE -->

<!ENTITY hyphen	"&#x002D;"> <!-- HYPHEN-MINUS -->

<!ENTITY period	"&#x002E;"> <!-- FULL STOP -->

<!ENTITY sol	"&#x002F;"> <!-- SOLIDUS -->

<!ENTITY colon	"&#x003A;"> <!-- COLON -->

<!ENTITY semi	"&#x003B;"> <!-- SEMICOLON -->

<!ENTITY quest	"&#x003F;"> <!-- QUESTION MARK -->

<!ENTITY iquest	"&#x00BF;"> <!-- INVERTED QUESTION MARK -->

<!ENTITY laquo	"&#x00AB;"> <!-- LEFT-POINTING DOUBLE ANGLE QUOTATION 
MARK -->

<!ENTITY raquo	"&#x00BB;"> <!-- RIGHT-POINTING DOUBLE ANGLE QUOTATION 
MARK -->

<!ENTITY lsquo	"&#x2018;"> <!--  -->

<!ENTITY rsquo	"&#x2019;"> <!-- RIGHT SINGLE QUOTATION MARK -->

<!ENTITY ldquo	"&#x201C;"> <!--  -->

<!ENTITY rdquo	"&#x201D;"> <!-- RIGHT DOUBLE QUOTATION MARK -->

<!ENTITY nbsp	"&#x00A0;"> <!-- NO-BREAK SPACE -->

<!ENTITY shy	"&#x00AD;"> <!-- SOFT HYPHEN -->



<!-- iso-pub.ent (initially distributed with DocBook XML DTD 
V4.1.1beta1) -->



<!-- Derived from the corresponding ISO 8879 standard entity set

     and the Unicode character mappings provided by Sebastian Rahtz -->



<!ENTITY emsp	"&#x2003;"> <!-- EM SPACE -->

<!ENTITY ensp	"&#x2002;"> <!-- EN SPACE -->

<!ENTITY emsp13	"&#x2004;"> <!-- THREE-PER-EM SPACE -->

<!ENTITY emsp14	"&#x2005;"> <!-- FOUR-PER-EM SPACE -->

<!ENTITY numsp	"&#x2007;"> <!-- FIGURE SPACE -->

<!ENTITY puncsp	"&#x2008;"> <!-- PUNCTUATION SPACE -->

<!ENTITY thinsp	"&#x2009;"> <!-- THIN SPACE -->

<!ENTITY hairsp	"&#x200A;"> <!-- HAIR SPACE -->

<!ENTITY mdash	"&#x2014;"> <!-- EM DASH -->

<!ENTITY ndash	"&#x2013;"> <!-- EN DASH -->

<!ENTITY dash	"&#x2010;"> <!-- HYPHEN -->

<!ENTITY blank	"&#x2423;"> <!-- OPEN BOX -->

<!ENTITY hellip	"&#x2026;"> <!-- HORIZONTAL ELLIPSIS -->

<!ENTITY nldr	"&#x2025;"> <!-- TWO DOT LEADER -->

<!ENTITY frac13	"&#x2153;"> <!-- VULGAR FRACTION ONE THIRD -->

<!ENTITY frac23	"&#x2154;"> <!-- VULGAR FRACTION TWO THIRDS -->

<!ENTITY frac15	"&#x2155;"> <!-- VULGAR FRACTION ONE FIFTH -->

<!ENTITY frac25	"&#x2156;"> <!-- VULGAR FRACTION TWO FIFTHS -->

<!ENTITY frac35	"&#x2157;"> <!-- VULGAR FRACTION THREE FIFTHS -->

<!ENTITY frac45	"&#x2158;"> <!-- VULGAR FRACTION FOUR FIFTHS -->

<!ENTITY frac16	"&#x2159;"> <!-- VULGAR FRACTION ONE SIXTH -->

<!ENTITY frac56	"&#x215A;"> <!-- VULGAR FRACTION FIVE SIXTHS -->

<!ENTITY incare	"&#x2105;"> <!-- CARE OF -->

<!ENTITY block	"&#x2588;"> <!-- FULL BLOCK -->

<!ENTITY uhblk	"&#x2580;"> <!-- UPPER HALF BLOCK -->

<!ENTITY lhblk	"&#x2584;"> <!-- LOWER HALF BLOCK -->

<!ENTITY blk14	"&#x2591;"> <!-- LIGHT SHADE -->

<!ENTITY blk12	"&#x2592;"> <!-- MEDIUM SHADE -->

<!ENTITY blk34	"&#x2593;"> <!-- DARK SHADE -->

<!ENTITY marker	"&#x25AE;"> <!-- BLACK VERTICAL RECTANGLE -->

<!ENTITY cir	"&#x25CB;"> <!-- WHITE CIRCLE -->

<!ENTITY squ	"&#x25A1;"> <!-- WHITE SQUARE -->

<!ENTITY rect	"&#x25AD;"> <!-- WHITE RECTANGLE -->

<!ENTITY utri	"&#x25B5;"> <!-- WHITE UP-POINTING TRIANGLE -->

<!ENTITY dtri	"&#x25BF;"> <!-- WHITE DOWN-POINTING TRIANGLE -->

<!ENTITY star	"&#x22C6;"> <!-- STAR OPERATOR -->

<!ENTITY bull	"&#x2022;"> <!-- BULLET -->

<!ENTITY squf	"&#x25AA;"> <!--  -->

<!ENTITY utrif	"&#x25B4;"> <!-- BLACK UP-POINTING TRIANGLE -->

<!ENTITY dtrif	"&#x25BE;"> <!-- BLACK DOWN-POINTING TRIANGLE -->

<!ENTITY ltrif	"&#x25C2;"> <!-- BLACK LEFT-POINTING TRIANGLE -->

<!ENTITY rtrif	"&#x25B8;"> <!-- BLACK RIGHT-POINTING TRIANGLE -->

<!ENTITY clubs	"&#x2663;"> <!-- BLACK CLUB SUIT -->

<!ENTITY diams	"&#x2666;"> <!-- BLACK DIAMOND SUIT -->

<!ENTITY hearts	"&#x2665;"> <!-- BLACK HEART SUIT -->

<!ENTITY spades	"&#x2660;"> <!-- BLACK SPADE SUIT -->

<!ENTITY malt	"&#x2720;"> <!-- MALTESE CROSS -->

<!ENTITY dagger	"&#x2020;"> <!-- DAGGER -->

<!ENTITY Dagger	"&#x2021;"> <!-- DOUBLE DAGGER -->

<!ENTITY check	"&#x2713;"> <!-- CHECK MARK -->

<!ENTITY cross	"&#x2717;"> <!-- BALLOT X -->

<!ENTITY sharp	"&#x266F;"> <!-- MUSIC SHARP SIGN -->

<!ENTITY flat	"&#x266D;"> <!-- MUSIC FLAT SIGN -->

<!ENTITY male	"&#x2642;"> <!-- MALE SIGN -->

<!ENTITY female	"&#x2640;"> <!--  -->

<!ENTITY phone	"&#x260E;"> <!-- TELEPHONE SIGN -->

<!ENTITY telrec	"&#x2315;"> <!-- TELEPHONE RECORDER -->

<!ENTITY copysr	"&#x2117;"> <!-- SOUND RECORDING COPYRIGHT -->

<!ENTITY caret	"&#x2038;"> <!-- CARET (modified from ISO, which had this 
[incorrectly?] as 2041) -->

<!ENTITY lsquor	"&#x201A;"> <!-- SINGLE LOW-9 QUOTATION MARK -->

<!ENTITY ldquor	"&#x201E;"> <!-- DOUBLE LOW-9 QUOTATION MARK -->

<!ENTITY fflig	"&#xFB00;"> <!--  -->

<!ENTITY filig	"&#xFB01;"> <!--  -->

<!--     fjlig	Unknown unicode character -->

<!ENTITY ffilig	"&#xFB03;"> <!--  -->

<!ENTITY ffllig	"&#xFB04;"> <!--  -->

<!ENTITY fllig	"&#xFB02;"> <!--  -->

<!ENTITY mldr	"&#x2026;"> <!-- HORIZONTAL ELLIPSIS -->

<!ENTITY rdquor	"&#x201C;"> <!--  -->

<!ENTITY rsquor	"&#x2018;"> <!--  -->

<!ENTITY vellip	"&#x22EE;"> <!--  -->

<!ENTITY hybull	"&#x2043;"> <!-- HYPHEN BULLET -->

<!ENTITY loz	"&#x25CA;"> <!-- LOZENGE -->

<!ENTITY lozf	"&#x2726;"> <!--  -->

<!ENTITY ltri	"&#x25C3;"> <!-- WHITE LEFT-POINTING TRIANGLE -->

<!ENTITY rtri	"&#x25B9;"> <!-- WHITE RIGHT-POINTING TRIANGLE -->

<!ENTITY starf	"&#x2605;"> <!-- BLACK STAR -->

<!ENTITY natur	"&#x266E;"> <!-- MUSIC NATURAL SIGN -->

<!ENTITY rx	"&#x211E;"> <!-- PRESCRIPTION TAKE -->

<!ENTITY sext	"&#x2736;"> <!-- SIX POINTED BLACK STAR -->

<!ENTITY target	"&#x2316;"> <!-- POSITION INDICATOR -->

<!ENTITY dlcrop	"&#x230D;"> <!-- BOTTOM LEFT CROP -->

<!ENTITY drcrop	"&#x230C;"> <!-- BOTTOM RIGHT CROP -->

<!ENTITY ulcrop	"&#x230F;"> <!-- TOP LEFT CROP -->

<!ENTITY urcrop	"&#x230E;"> <!-- TOP RIGHT CROP -->



<!-- iso-dia.ent (initially distributed with DocBook XML DTD 
V4.1.1beta1) -->



<!-- Derived from the corresponding ISO 8879 standard entity set

     and the Unicode character mappings provided by Sebastian Rahtz -->



<!ENTITY acute	"&#x00B4;"> <!-- ACUTE ACCENT -->

<!ENTITY breve	"&#x02D8;"> <!-- BREVE -->

<!ENTITY caron	"&#x02C7;"> <!-- CARON -->

<!ENTITY cedil	"&#x00B8;"> <!-- CEDILLA -->

<!ENTITY circ	"&#x005E;"> <!-- RING OPERATOR -->

<!ENTITY dblac	"&#x02DD;"> <!-- DOUBLE ACUTE ACCENT -->

<!ENTITY die	"&#x00A8;"> <!--  -->

<!ENTITY dot	"&#x02D9;"> <!-- DOT ABOVE -->

<!ENTITY grave	"&#x0060;"> <!-- GRAVE ACCENT -->

<!ENTITY macr	"&#x00AF;"> <!-- MACRON -->

<!ENTITY ogon	"&#x02DB;"> <!-- OGONEK -->

<!ENTITY ring	"&#x02DA;"> <!-- RING ABOVE -->

<!ENTITY tilde	"&#x02DC;"> <!-- TILDE -->

<!ENTITY uml	"&#x00A8;"> <!--  -->



<!-- entities added to integrate NODE data -->

<!ENTITY ones	"ones"> <!--  -->

<!ENTITY so	"someone"> <!--  -->

<!ENTITY sones	"someones"> <!--  -->

<!ENTITY sth	"something"> <!--  -->

<!ENTITY sosth	"someone/something"> <!--  -->

<!ENTITY euro	"&#x20A0;">



<!-- 

  Public Entity Set for IPA, derived (modified) from:

  -//SPREAD//ENTITIES ISO/IEC 10646-1:1993 (IPA)//EN//XML    

  A debt of gratitude is hereby acknowledged.

-->





<!ENTITY aturn "&#x0250;">

<!ENTITY ascript "&#x0251;">

<!ENTITY ascriptturn "&#x0252;">

<!ENTITY bhook "&#x0253;">

<!-- defined elsewhere <!ENTITY cturn "&#x0254;"> -->

<!ENTITY ccurl "&#x0255;">

<!ENTITY drthook "&#x0256;">

<!ENTITY dhook "&#x0257;">

<!ENTITY erev "&#x0258;">

<!-- defined elsewhere <!ENTITY schwa "&#x0259;"> -->

<!ENTITY schwahook "&#x025A;">

<!ENTITY epsilon1 "&#x025B;">

<!ENTITY epsilon1rev "&#x025C;">

<!ENTITY epsilon1revhook "&#x025D;">

<!ENTITY epsilon1revclosed "&#x025E;">

<!ENTITY jdotlessbar "&#x025F;">

<!ENTITY ghook "&#x0260;">

<!ENTITY gcursive "&#x0261;">

<!ENTITY gsmallcap "&#x0262;">

<!ENTITY gamma1 "&#x0263;">

<!ENTITY babygamma "&#x0264;">

<!ENTITY hturn "&#x0265;">

<!ENTITY hhook "&#x0266;">

<!ENTITY henghook "&#x0267;">

<!-- defined elsewhere <!ENTITY ibar "&#x0268;"> -->

<!ENTITY iota1 "&#x0269;">

<!ENTITY ismallcap "&#x026A;">

<!-- defined elsewhere <!ENTITY lmidtilde "&#x026B;"> -->

<!ENTITY lbelt "&#x026C;">

<!ENTITY lrthook "&#x026D;">

<!ENTITY lyogh "&#x026E;">

<!ENTITY mturn "&#x026F;">

<!ENTITY mturndescend "&#x0270;">

<!ENTITY mhook "&#x0271;">

<!ENTITY nlfthook "&#x0272;">

<!ENTITY nrthook "&#x0273;">

<!ENTITY nsmallcap "&#x0274;">

<!ENTITY obar "&#x0275;">

<!ENTITY oesmallcap "&#x0276;">

<!ENTITY omegaclosed "&#x0277;">

<!ENTITY philatin "&#x0278;">

<!ENTITY rturn "&#x0279;">

<!ENTITY rturnascend "&#x027A;">

<!ENTITY rturnrthook "&#x027B;">

<!ENTITY rdescend "&#x027C;">

<!ENTITY rrthook "&#x027D;">

<!ENTITY rfishhook "&#x027E;">

<!ENTITY rfishhookrev "&#x027F;">

<!ENTITY rsmallcap "&#x0280;">

<!ENTITY rsmallcapinv "&#x0281;">

<!ENTITY srthook "&#x0282;">

<!-- defined elsewhere <!ENTITY esh "&#x0283;"> -->

<!ENTITY jhookdblbar "&#x0284;">

<!ENTITY eshshortrev "&#x0285;">

<!ENTITY eshcurl "&#x0286;">

<!ENTITY tturn "&#x0287;">

<!ENTITY trthook "&#x0288;">

<!ENTITY ubar "&#x0289;">

<!ENTITY upsilonlatin "&#x028A;">

<!ENTITY vscript "&#x028B;">

<!ENTITY vturn "&#x028C;">

<!ENTITY wturn "&#x028D;">

<!ENTITY yturn "&#x028E;">

<!ENTITY ysmallcap "&#x028F;">

<!ENTITY zrthook "&#x0290;">

<!ENTITY zcurl "&#x0291;">

<!-- defined elsewhere <!ENTITY yogh "&#x0292;"> -->

<!ENTITY yoghcurl "&#x0293;">

<!ENTITY glottalstop "&#x0294;">

<!ENTITY glottalstoprev "&#x0295;">

<!ENTITY glottalstopinv "&#x0296;">

<!ENTITY cstretch "&#x0297;">

<!ENTITY bullseye "&#x0298;">

<!ENTITY bsmallcap "&#x0299;">

<!ENTITY epsilonclosed "&#x029A;">

<!ENTITY gsmallcaphook "&#x029B;">

<!ENTITY hsmallcap "&#x029C;">

<!ENTITY jcrosstail "&#x029D;">

<!ENTITY kturn "&#x029E;">

<!ENTITY lsmallcap "&#x029F;">

<!ENTITY qhook "&#x02A0;">

<!ENTITY glottalstopbar "&#x02A1;">

<!ENTITY glottalstopbarrev "&#x02A2;">

<!ENTITY dzlig "&#x02A3;"><!-- iso name 'dz' -->

<!ENTITY dyogh "&#x02A4;">

<!ENTITY dzcurl "&#x02A5;">

<!ENTITY tslig "&#x02A6;"><!-- iso name 'ts' -->

<!ENTITY teshlig "&#x02A7;"><!-- iso name 'tesh' -->

<!ENTITY tccurllig "&#x02A8;"><!-- iso name 'tccurl' -->



<!-- not derived from IPA ISO table -->

<!ENTITY length "&#x02D0;">

<!ENTITY halflength "&#x02D1;">

